*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cabin Condensed", sans-serif;
  padding: 1rem 2rem;
}

a {
  text-decoration: none;
  color: #171717;
}
